table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    margin-top: 10%;
  }

}
